<div class="bckgrnd-img">
  <order-button></order-button>
  <site-title></site-title>
  <menu-link>View The Menu</menu-link>
  <text-card
    >This text is here to tell you that as a family friendly establishment we
    want you to be able to trust in what we have to offer to you and those you
    love most. During times of hardship we are here to bring the tastes you love
    to your very front door. So please check out our menu and all of the other
    things that we have on this site. We are always glad to have our customers
    feel comfortable</text-card
  >
</div>
